@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font family relative style */
.quicksand-main-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

/* shared style */
body{
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
.sky-blue{
    color: #01ACFD;
}
.orange{
    color: #FEA301;
}
.black{
    color: black;
}
.aqua{
    color:#05D4DF;
}
.bg-blue-violet{
    background-color: #5D58EF !important;
}
.blue-violet{
    color: #5D58EF;
}
.bg-green-gray{
    background-color: #95B226 !important;
}
.display-flex{
    display: flex;
}
.btn-primary{
    padding: 10px 47px;
    border: 0;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}
button:hover{
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}
.section-title{
    font-size: 2.8rem;
}
.text-center{
    text-align: center;
}
/* header/navbar relative styles */
#header{
    max-width: 1150px;
    margin: 0 auto;
}
#header .navbar{
    justify-content: space-between;
    align-items: center;
}
.link-item{
    list-style: none;
}
.link-item .links{
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 32px;
    font-weight: 500;

}
.nav-logo-img{
    margin-top: 10px;
}
.site-name{
    font-size: 2rem;
    font-weight: 800;
}
.nav-btn{
    background-color: #FEA301;
    border: 0;
    padding: 10px 60px;
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 12px;
}
/* banner section */
.banner{
    justify-content: space-between;
}
.banner-content{
    width: 51%;
    padding-top: 100px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 25px;
}
.banner-details{
    font-size: 1.25rem;
}
.banner-img img{
    width: 100%;
}
/* Carriculam Section Start */
#carriculam{
    padding: 50px;
    max-width: 1160px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    text-align: center;
}
.carriculam-card{
    margin-top: 50px;
    justify-content: space-between;
    gap: 28px;
    
}
.carriculam-card .card{
    width: 33%;
    padding: 40px;
    text-align: center;
    border-radius: 18px;
    
}
.section-title{
    margin-top: 0px;
    margin-bottom: 0px;
}
.carriculam-card .card-1{
    background: linear-gradient(180deg,rgba(222, 245, 255, 1),rgba(255, 255, 255, 1)80%);
}
.carriculam-card .card-2{
    background: linear-gradient(180deg,rgba(255, 244, 220, 1),rgba(255, 255, 255, 1)80%);
}
.card-2 .read-btn{
    color: #F0AA00;
}
.carriculam-card .card-3{
    background: linear-gradient(180deg,#F2E8FF ,rgba(255, 255, 255, 1)80%);
}
.card-3 .read-btn{
    color: #8700FF;
}
.carriculam-card .card img{
    margin-top: 10px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    
}
.card-details{
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-family: "Raleway", serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
}
.read-btn{
    font-size: 16px;
    cursor: pointer;
    color: #64C8FF;
    font-weight: bold;
}
.card-direction{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.card-direction .previous,.next{
    background-color: #FEA301;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
}
.card-direction .fa-solid{
    font-size: 1.5rem;
    margin-top: 20px;
}
.card-direction .previous:hover,.next:hover{
    border: 1px solid black;
    cursor: pointer;
    background-color: White;
    color: black;
    
}
/* opur-story section */
#our-stories{
    max-width: 100%;
    background: linear-gradient(360deg,rgba(254, 163, 1, .3),rgba(255, 255, 255, .3)), url(../assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}
.our-story-bg{
    max-width: 1160px;
    margin: 0 auto;
    padding: 60px;
}
.kid-stories{
    display: flex;
    gap: 20px;
}
.kids-stories-left{
    width: 45%;
    border-radius: 16px;
    background-color: white;
    margin-top: 60px;

}
.kids-stories-right{
    width: 60%;
    border-radius: 16px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.right-kids{
    background-color: white;
    border-radius: 16px;
}
.kids-stories-img{
    position: relative;
}
.img-size img{
    height: 330px;
}
.kids-stories-img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
}
.date{
    background-color: #3CD8E8;
    font-family: "Raleway", serif;
    width: 145px;
    padding:15px 19px ;
    border-radius: 10px;
    margin-top: -30px;
    margin-left:30px;
    border: none;
    border-radius: 47px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}
.kids-content{
    padding: 0 35px;
}
.kids-stories-title{
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}
.title-size{
    font-size: 24px;
    margin-bottom: 50px;
}
.kids-stories-details{
    font-size: 15px;
    font-weight: 500;
    color: #666666;
    padding-bottom: 30px;
}
.our-stories-button{
    text-align: center;
    padding-top: 60px;
}
/* footer start */
#footer{
    max-width: 100%;
    background-color: #2CDFEF;
    color: white;
}
.footer-content{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.footer-logo-img img {
    height: 82px;
    width: 81px;
    margin-top: 10px;
}
.footer-site-name{
    font-size: 42px;
    font-weight: bold;
    margin-top: 0px;
}
.footer-logo{
    width: 40%;
   
}
.footer-logo .footer-logo-details{
    font-size: 1rem;
    margin-left: 10px;
}
.footer-menu h3{
    font-size: 1.5rem;
    margin-left: 35px;
}
.footer-menu ul li{
    list-style: none;

}
.footer-menu li a{
    text-decoration: none;
    line-height: 2;
    font-size: 1.25rem;
    color: white;
}
.social-icon{
    margin-top: -132px;
}
.social-icon h3{
    font-size: 1.6rem;
    
}
/* Responcive mobile devices */
@media screen and (max-width:576px){
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .banner-content{
        width: 100%;
        padding: 0;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 40px;
    }
    .site-name, .link,.navbar-button,.card-direction,.kids-stories-left{
        display: none;
    }
    .banner-details{
        font-size: 1rem;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
        max-width: 500px;
    }
    .menu-icon> div{
        width: 40px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
  .nav-logo{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 15px 10px;
    }
    
    .section-title{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .carriculam-card{
        flex-direction: column;
        align-items: center;
    }
    .carriculam-card .card{
        width: 100%;
    }
    .kid-stories{
        margin: 0;
    }
    .right-kids{
        width: 100%;
    }
    .our-story-bg{
        padding: 10px 10px;
    }
   
    .date{
        width: 120px;
        margin-left: 15px;
        font-size: 13px;
        padding: 15px 10px;
    }
    .kids-stories-right{
        width: 100%;
    }
    .kids-content{
        padding: 0 15px;
    }
    .footer-content{
        flex-direction: column;
        padding: 20px;
        gap: 0px;
        
    }
    .social-icon{
        margin-top: 0;
    }
    .footer-menu{
        width: 100%;
    }
    .footer-menu h3{
       margin-left: 10px;

    }
    .footer-menu a{
        margin-left: -30px;
    }
    .footer-logo{
        width: 100%;
    }
    .social-icon h3{
        /* margin-left: 10px; */
    }
    .social-icon{
        width: 100%;
        margin-left:10px ;
    }
}
